@font-face {
    font-family: NotoSansLao;
    src: url(../fonts/NotoSansLao-Regular.ttf);
}
body{
    font-family: NotoSansLao;
}
nav{
    background: rgba(0, 0, 0, 0.8);
}
.dropdown:hover>.dropdown-menu{
    display: block;
}
.nav-link:hover{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}
.dropdown-menu-end{
    right: 0;
    left: auto;
}
